<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    
    <!-- navbar -->
    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light px-3 fixed-top shadow"></nav>

    <!-- page 1 - profile page -->
    <div class="container-fluid mt-5 py-5 shadow" style="background-color: #e3e7eb;">
        <di class="d-grid d-xl-flex gap-3 gap-xl-5 p-4 p-xl-4 rounded-3 shadow-lg" style="background-color: #FFFFFF;">
            <div class="d-grid align-items-center">
                <h1>Hi, Welcome to my hut</h1>
                <p style="text-align: justify;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis magnam sapiente ab delectus laudantium tempora, sit aliquid, sequi odio accusantium doloremque sed velit. Doloribus mollitia fugiat inventore eos, commodi sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem odit earum, architecto ducimus atque quia doloremque ex asperiores aperiam, sit exercitationem aspernatur? Iste optio voluptates adipisci aspernatur cum, laboriosam consequatur?
                </p>

                <div class="d-flex align-items-center gap-4 mt-3">
                    <button class="btn btn-dark rounded-pill px-3 py-1">Contact</button>
                    <a href="/assets/cv.txt" class="text-decoration-none" download>
                        <span class="text-dark fw-bold">Download CV</span>
                        <img
                            src="/assets/icons/download.svg"
                            alt=""
                            width="25px"
                        />
                    </a>
                </div>

                <div class="d-flex justify-content-center justify-content-xl-start gap-4 my-4">
                    <a href="https://linkedin.com" target="_blank">
                        <img
                            src="/assets/icons/sosmed/linkedin.svg"
                            alt="LinkedIn"
                            width="40px"
                        />
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <img
                            src="/assets/icons/sosmed/instagram.svg"
                            alt="Instagram"
                            width="40px"
                        />
                    </a>
                    <a href="https://facebook.com" target="_blank">
                        <img
                            src="/assets/icons/sosmed/facebook.svg"
                            alt="Facebook"
                            width="40px"
                        />
                    </a>
                    <a href="https://github.com" target="_blank">
                        <img
                            src="/assets/icons/sosmed/github.svg"
                            alt="GitHub"
                            width="40px"
                        />
                    </a>
                </div>
            </div>

            <div class="card shadow" style="width: 100%;">
                <div class="overflow-hidden rounded-top" style="width: 100%; height: 55vh;">
                    <img
                        src="https://lontar-tirtayasa.desa.id/wp-content/uploads/2023/07/vicky-hladynets-C8Ta0gwPbQg-unsplash.jpg"
                        class="card-img-top"
                        alt="Profile"
                        width="100%"
                        style="transform: translateY(-50px);"
                    />
                </div>
                <div class="text-center pt-2">
                    <h4 class="fw-bold">Jhon Doe</h4>
                    <p>Fullstack Developer</p>
                </div>
            </div>
        </div>
    </div>

    <!-- page 2 - project page -->
    <div class="container-fluid py-5">
        <h3 class="text-center mb-4 fw-bold">MY PROJECT</h3>
        <div id="blog-box" class="d-flex flex-wrap justify-content-center gap-0 gap-xl-4 px-3 px-xl-4">
            {{#each allData}}
                <div class="card mb-4 shadow p-3" style="width: 400px;">
                    <div class="mb-3 overflow-hidden rounded" >
                        <img
                            src="{{ image }}"
                            class="card-img-top"
                            alt="Poster"
                        />
                    </div>
                    <div class="card-body p-0">
                        <a href="/projectDetail/{{ id }}" class="text-decoration-none">
                            <h5 class="card-title">{{ project_name }}</h5>
                        </a>
                        <p>Durasi : {{ duration }}</p>
                        <p class="card-text" style="text-align: justify;">{{ description }}</p>

                        <div id="tech-icon" class="d-flex gap-2 mb-3">
                            {{#each technologies}}
                                <img src="./assets/icons/{{{ this }}}" width="25px" />
                            {{/each}}
                        </div>

                        <div class="d-flex gap-3">
                            <a href="/editProject/{{ id }}" class="btn btn-dark" style="width: 50%;">Edit</a>
                            <a href="/delete-project/{{ id }}" class="btn btn-dark" style="width: 50%;">Delete</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/assets/js/navbar.js"></script>

</body>
</html>